<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 5> Ingeniería Financiera | ITESO </font> <br> <br>

<center> <font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center> <font color=#42c29b><font size=5> Laboratorio 2 <br> <br> Behavioral Finance para Trading </font> <br> <br>

<center> <font color=#004A94><font size=4> I.F. Lidia Natasha Gamez  | if709031@iteso.mx </font> <br> <br>

In [1]:
import funciones as fn
import pandas as pd
import numpy as np
import datetime
import random

### Parte 2) 
##### Mediciones de estadísticas básicas de una cuenta de trading.

In [2]:
#Datos
datos = fn.f_leer_archivo(param_archivo='archivo_tradeview_1.xlsx')

In [3]:
datos = fn.f_columnas_tiempos(datos)
datos = fn.f_columnas_pips(datos)
datos

/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  * f_pip_size(param_ins=param_data.iloc[i, 4])
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['pips_acm'][i] = param_data.iloc[i, 15]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['profit_acm'][i] = param_data.iloc[i, 13]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['pips_acm'][i] = param_data.iloc[i - 1, 16] + param_data.iloc[i, 15]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['profit_acm'][i] = param_data.iloc[i - 1, 17] + param_data.iloc[i, 13]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  * f_pip_size(param_ins=param_data.iloc[i, 4])

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,tiempo,pips,pips_acm,profit_acm
0,24316034,2019-08-27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019-08-27 09:16:01,1533.69000,0.0,0,0,17.92,8291.0,44,44,17.92
1,24334215,2019-08-27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019-08-29 06:38:16,117.37400,0.0,0,0,-2.73,135116.0,-29,15,15.19
2,24342155,2019-08-27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019-08-28 21:01:24,117.45200,0.0,0,0,5.00,92145.0,10,25,20.19
3,24373260,2019-08-28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019-08-29 06:38:28,1.10818,0.0,0,0,0.27,48415.0,2,27,20.46
4,24392415,2019-08-29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019-08-29 06:37:23,1.21990,0.0,0,0,-0.34,116.0,-3,24,20.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,25148355,2019-09-24 20:09:52,sell,0.06,xauusd,1532.02000,1538.000,0.0000,2019-09-24 21:18:43,1525.66000,0.0,0,0,38.16,4131.0,63,1558,210.31
80,25148480,2019-09-24 20:11:20,sell,0.02,xauusd,1531.50000,1538.000,0.0000,2019-09-24 21:18:46,1525.63000,0.0,0,0,11.74,4046.0,58,1616,222.05
81,25148522,2019-09-24 20:12:41,sell,0.01,xauusd,1531.86000,1538.000,0.0000,2019-09-24 21:18:49,1525.66000,0.0,0,0,6.20,3968.0,61,1677,228.25
82,25159294,2019-09-25 01:53:47,sell,0.06,xauusd,1531.06000,1537.000,0.0000,2019-09-25 15:24:31,1527.40000,0.0,0,0,21.96,48644.0,36,1713,250.21
83,25159303,2019-09-25 01:54:46,sell,0.01,xauusd,1531.28000,1537.000,0.0000,2019-09-25 15:24:35,1527.36000,0.0,0,0,3.92,48589.0,39,1752,254.13

In [4]:
[df_1_tabla, df_1_ranking]  = fn.f_estadisticas_ba(datos)
df_1_tabla

/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:216: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_ranking['Rank %'][i] = df_1_ranking.iloc[i, 2] / df_1_ranking.iloc[i, 1] * 100

               Name     Valor
0       Ops totales        84
1         Ganadoras        46
2       Ganadoras_c        20
3       Ganadoras_v        26
4        Perdedoras        38
5      Perdedoras_c        19
6      Perdedoras_v        19
7     Media(Profit)     1.205
8       Media(Pips)   25590.5
9     r_efectividad  0.547619
10     r_proporcion   1.21053
11  r_efectividad_v  0.238095
12  r_efectividad_c  0.309524

In [5]:
df_1_ranking

    Symbol  Rank %
0   eurgbp     100
1   btcusd     100
2   usdmxn      80
3   xauusd      73
4   gbpusd      66
5   usdjpy      60
6   eurusd      47
7   audusd      33
8   eurjpy      28
9   usdcad      28
10  gbpjpy      25

### Parte 3) 
##### Medidas de Atribución al Desempeño expresadas semanalmente de una cuenta de trading y de la actividad del trader como persona.

In [6]:
datos= fn.capital_acm(datos)
datos

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,tiempo,pips,pips_acm,profit_acm,capital_acm
0,24316034,2019-08-27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019-08-27 09:16:01,1533.69000,0.0,0,0,17.92,8291.0,44,44,17.92,5017.92
1,24334215,2019-08-27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019-08-29 06:38:16,117.37400,0.0,0,0,-2.73,135116.0,-29,15,15.19,5015.19
2,24342155,2019-08-27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019-08-28 21:01:24,117.45200,0.0,0,0,5.00,92145.0,10,25,20.19,5020.19
3,24373260,2019-08-28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019-08-29 06:38:28,1.10818,0.0,0,0,0.27,48415.0,2,27,20.46,5020.46
4,24392415,2019-08-29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019-08-29 06:37:23,1.21990,0.0,0,0,-0.34,116.0,-3,24,20.12,5020.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,25148355,2019-09-24 20:09:52,sell,0.06,xauusd,1532.02000,1538.000,0.0000,2019-09-24 21:18:43,1525.66000,0.0,0,0,38.16,4131.0,63,1558,210.31,5210.31
80,25148480,2019-09-24 20:11:20,sell,0.02,xauusd,1531.50000,1538.000,0.0000,2019-09-24 21:18:46,1525.63000,0.0,0,0,11.74,4046.0,58,1616,222.05,5222.05
81,25148522,2019-09-24 20:12:41,sell,0.01,xauusd,1531.86000,1538.000,0.0000,2019-09-24 21:18:49,1525.66000,0.0,0,0,6.20,3968.0,61,1677,228.25,5228.25
82,25159294,2019-09-25 01:53:47,sell,0.06,xauusd,1531.06000,1537.000,0.0000,2019-09-25 15:24:31,1527.40000,0.0,0,0,21.96,48644.0,36,1713,250.21,5250.21
83,25159303,2019-09-25 01:54:46,sell,0.01,xauusd,1531.28000,1537.000,0.0000,2019-09-25 15:24:35,1527.36000,0.0,0,0,3.92,48589.0,39,1752,254.13,5254.13

In [7]:
df_profit_diario = fn.f_profit_diario(param_data=datos)
df_profit_diario

/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:252: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Profit['Timestamp'] = [param_data.iloc[i, 1].date() for i in range(param_data.shape[0])]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:321: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profit['Profit_acm_d'][a] = df_profit['Profit_acm_d'][a]
/Users/natasha/Documents/Trading/Lab_2_LNGO/funciones.py:324: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  + df_profit['Profit_acm_d'][a] - 5000

     Timestamp  Profit_d  Profit_acm_d
0   2019/08/27     19.90       5019.90
1   2019/08/28    -25.37       4994.53
2   2019/08/29    -18.81       4975.72
3   2019/08/30     38.21       5013.93
4   2019/08/31      0.00       5013.93
5   2019/09/01      0.00       5013.93
6   2019/09/02    -77.64       4936.29
7   2019/09/03    -94.16       4842.13
8   2019/09/04     29.11       4871.24
9   2019/09/05      0.25       4871.49
10  2019/09/06      7.02       4878.51
11  2019/09/07      0.00       4878.51
12  2019/09/08      0.00       4878.51
13  2019/09/09      0.00       4878.51
14  2019/09/10      0.00       4878.51
15  2019/09/11     14.85       4893.36
16  2019/09/12     21.78       4915.14
17  2019/09/13    153.28       5068.42
18  2019/09/14      0.00       5068.42
19  2019/09/15      0.00       5068.42
20  2019/09/16     61.08       5129.50
21  2019/09/17     10.98       5140.48
22  2019/09/18      0.00       5140.48
23  2019/09/19     47.31       5187.79
24  2019/09/20      0.00       5187.79
25  2019/09/21      0.00       5187.79
26  2019/09/22      0.00       5187.79
27  2019/09/23      0.00       5187.79
28  2019/09/24     50.29       5238.08
29  2019/09/25      9.21       5247.29
30  2019/09/26      6.84       5254.13

### Medidas de Atribución al Desempeño (MAD):

###### Sharpe Ratio:

$$ S = \frac{E[R-Rf]}{\sigma}$$

In [8]:
Estadisticas_MAD = fn.f_estadisticas_mad(param_data=df_profit_diario)
Estadisticas_MAD

     Metrica     Valor
0     Sharpe -9.651858
1  Sortino_C  0.050879
2  Sortino_V  0.058385